<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jonathan.negocioselectronicos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CajeroAdicionarActivity" />
        <activity android:name=".CajeroBuscarActivity" />
        <activity android:name=".ClienteAdicionarActivity" />
        <activity android:name=".ClienteBuscarActivity" />
        <activity android:name=".ReciboAdicionarActivity" />
        <activity android:name=".ReciboBuscarActivity" />
        <activity android:name=".ReciboListViewActivity" />
        <activity android:name=".ReciboModificar2" />
        <activity android:name=".ReciboEliminar2" />
        <activity android:name=".ReciboActivar" />
        <activity android:name=".ReciboInactivar" />
        <activity android:name=".ClienteListViewActivity" />
        <activity android:name=".ClienteModificar2" />
        <activity android:name=".ClienteEliminar2" />
        <activity android:name=".ClienteActivar" />
        <activity android:name=".ClienteInactivar" />
        <activity android:name=".CajeroListViewActivity" />
        <activity android:name=".CajeroModificar2" />
        <activity android:name=".CajeroEliminar2" />
        <activity android:name=".CajeroActivar" />
        <activity android:name=".CajeroInactivar"></activity>
    </application>

</manifest>